@page "/admin/edit-role/{roleid}"
@model App.Admin.Role.EditModel
@{
    ViewData["Title"] = "Chỉnh sửa vai trò (role)";
}

<h2>@ViewData["Title"]</h2>

<partial name="_StatusMessage" model="@Model.StatusMessage"/>

<hr>
<div class="row">
    <div class="col-md-6">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group mb-2">
                <label asp-for="Input.Name" class="control-label"></label>
                <input asp-for="Input.Name" class="form-control" />
                <span asp-validation-for="Input.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Cập nhật" class="btn btn-primary" />
                <a asp-page="./Index" class="btn btn-primary" >Danh sách vai trò</a>
            </div>
        </form>
        <hr>
        <h4>Các đặc tính (claims) của role: </h4>
        <a class="btn btn-success btn-sm mb-2" asp-page="./AddRoleClaim" asp-route-roleId="@Model.Role.Id">+ Thêm đặc tính</a>
        @if (Model.Claims.Count > 0) {
            foreach (var claim in Model.Claims)
            {
                <a asp-page="./EditRoleClaim" asp-route-claimId="@claim.Id">
                    <li>@claim.ClaimType : @claim.ClaimValue</li>
                </a>
            }
        }   
    </div>
</div>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}