@page "/admin/assign-user-role/{userId}"
@model AddRoleUser
@{
    ViewData["Title"] = "Gán role";
}

<h3>Thiết lập role cho user: @Model.user.UserName</h3>
<partial name="_StatusMessage" for="StatusMessage" />
<div class="row">
    <div class="col-md-6">
        <form id="set-password-form" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <div class="mb-3">
                <label asp-for="RoleNames" class="form-label"></label>
                @Html.ListBoxFor(m => m.RoleNames,Model.allRoles , new {
                    id = "id-select-roles",
                    @class = "w-100"
                })
                <span asp-validation-for="RoleNames" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary">Cập nhật</button>
            <a asp-page="./Index" class="btn btn-primary">Danh sách user</a>
        </form> 

        <hr>
        <h4>Các claim của user có được từ Role</h4>
        @if (Model.ClaimsInRole.Count>0) {
            <ul>
                @foreach (var c in Model.ClaimsInRole)
                {
                    <li>@c.ClaimType : @c.ClaimValue</li>
                }
            </ul>
        }

         <hr>
        <h4>
            Các claim của riêng user
            <a class="btn btn-success btn-md" asp-page="./EditUserClaim" asp-route-userId="@Model.user.Id" asp-page-handler="AddUserClaim">+ Thêm claim riêng</a>
        </h4>
        @if (Model.ClaimsOfUser.Count>0) {
            <ul>
                @foreach (var c in Model.ClaimsOfUser)
                {
                    <a asp-page="./EditUserClaim" asp-page-handler="EditUserClaim"  asp-route-userId="@Model.user.Id" asp-route-claimId="@c.Id">
                        <li>@c.ClaimType : @c.ClaimValue</li>
                    </a>
                }
            </ul>
        }
    </div>
</div>

@section Scripts {
    <script src="~/lib/multiple-select/multiple-select.min.js"></script>
    <link rel="stylesheet" href="~/lib/multiple-select/multiple-select.min.css">

   <script>
     $("#id-select-roles").multipleSelect({
        selectAll: false,
        keepOpen: false,
        isOpen: false,
    });
   </script>

    <partial name="_ValidationScriptsPartial" />
}
